<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/echarts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabler.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    {% block head %}{% endblock %}
</head>
<body style="background-color: #f4f6fa">
<div class="container-xl">
    <div class="row">
        <div class="col-md-2 text-center">
            <h4>Data</h4>
        </div>
        <div class="col-md-2 text-center">
            <h4>Forecast</h4>
        </div>
        <div class="col-md-2 text-center">
            <h4>Decision</h4>
        </div>
        <div class="col-md-2 text-center">
            <h4>Record</h4>
        </div>
        <div class="col-md-2 text-center">
            <h4>Replay</h4>
        </div>
        <div class="col-md-2 text-center">
            <h4>Crawler</h4>
        </div>
    </div>
</div>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>