{% extends 'base.html' %}

{% block title %}
首页
{% endblock %}

{% block body %}
<!--    <div id="bar" style="width:1000px; height:600px;"></div>-->
<div class="row row-deck row-cards">
    <div class="col-md-3 rounded"style="height:300px;">
        <div class="card text-center">
            <p>胜平负初盘</p>
            <div class="card-body" id="simpleFirstPie">
            </div>
        </div>
    </div>
    <div class="col-md-3 rounded" style="height:300px;">
        <div class="card text-center">
            <p>让球初盘</p>
            <div class="card-body" id="rangFirstPie">
            </div>
        </div>
    </div>
    <div class="col-md-3 rounded" style="height:300px;">
        <div class="card text-center">
            <p>胜平负实时</p>
            <div class="card-body" id="simpleLastPie">
            </div>
        </div>
    </div>
    <div class="col-md-3 rounded" style="height:300px;">
        <div class="card text-center">
            <p>让球实时</p>
            <div class="card-body" id="rangLastPie">
            </div>
        </div>
    </div>
    <div class="col-md-6 rounded" style="height:400px;">
        <div class="card text-center">
            <div class="card-body" id="simpleLine">
            </div>
        </div>
    </div>
    <div class="col-md-6 rounded" style="height:400px;">
        <div class="card text-center">
            <div class="card-body" id="rangLine">
            </div>
        </div>
    </div>
    <div class="col-md-12 rounded">
        <div class="card text-center">
            <table class="card-body" id="similarGames">
                <thead>
                    <tr>
                        <th data-field="session">比赛场次</th>
                        <th data-field="host">主队</th>
                        <th data-field="guest">客队</th>
                        <th data-field="score">比分</th>
                        <th data-field="simple">胜平负</th>
                        <th data-field="rang">让球</th>
                        <th data-field="half">半全场</th>
                        <th data-field="url">链接</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <script>
        $(
            function () {
                var simpleFirstPie = echarts.init(document.getElementById('simpleFirstPie'));
                simpleFirstPie.setOption({{ simpleFirstPie|safe }});

                var rangFirstPie = echarts.init(document.getElementById('rangFirstPie'));
                rangFirstPie.setOption({{ rangFirstPie|safe }});

                var simpleLastPie = echarts.init(document.getElementById('simpleLastPie'));
                simpleLastPie.setOption({{ simpleLastPie|safe }});

                var rangLastPie = echarts.init(document.getElementById('rangLastPie'));
                rangLastPie.setOption({{ rangLastPie|safe }});

                var simpleLine = echarts.init(document.getElementById('simpleLine'));
                simpleLine.setOption({{ simpleLine|safe }});

                var rangLine = echarts.init(document.getElementById('rangLine'));
                rangLine.setOption({{ rangLine|safe }});

                // 从后端获取的 game 列表数据
                var similarGames = {{ similarGames|safe }};

                // 初始化 DataTables
                $('#similarGames').bootstrapTable({
                    data: similarGames,
                    pagination: true,
                    pageSize: 10  // 设置每页显示的行数
                });
            }
        )
    </script>
{% endblock %}