{% extends 'base.html' %}

{% block title %}
首页
{% endblock %}

{% block body %}
<!--    <div id="bar" style="width:1000px; height:600px;"></div>-->
<div class="row row-deck row-cards">
    <div class="col-md-3 rounded"style="height:300px;">
        <div class="card text-center">
            <p>胜平负基础奖金</p>
            <div class="card-body" id="simplePie">
            </div>
        </div>
    </div>
    <div class="col-md-3 rounded" style="height:300px;">
        <div class="card text-center">
            <p>让胜平负基础奖金</p>
            <div class="card-body" id="rangPie">
            </div>
        </div>
    </div>
    <div class="col-md-3 rounded" style="height:300px;">
        <div class="card text-center">
            <p>胜平负盘口变化</p>
            <div class="card-body" id="simpleChangePie">
            </div>
        </div>
    </div>
    <div class="col-md-3 rounded" style="height:300px;">
        <div class="card text-center">
            <p>让胜平负盘口变化</p>
            <div class="card-body" id="rangChangePie">
            </div>
        </div>
    </div>
    <div class="col-md-6 rounded" style="height:400px;">
        <div class="card text-center">
            <div class="card-body" id="simpleLine">
            </div>
        </div>
    </div>
    <div class="col-md-6 rounded" style="height:400px;">
        <div class="card text-center">
            <div class="card-body" id="rangLine">
            </div>
        </div>
    </div>
    <div class="col-md-12 rounded">
        <div class="card text-center">
            <table class="card-body" id="similarGames">
                <thead>
                    <tr>
                        <th data-field="session">比赛场次</th>
                        <th data-field="host">主队</th>
                        <th data-field="guest">客队</th>
                        <th data-field="score">比分</th>
                        <th data-field="simple">胜平负</th>
                        <th data-field="rang">让球</th>
                        <th data-field="half">半全场</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <script>
        $(
            function () {
                var simplePie = echarts.init(document.getElementById('simplePie'));
                simplePie.setOption({{ simplePie|safe }});

                var rangPie = echarts.init(document.getElementById('rangPie'));
                rangPie.setOption({{ rangPie|safe }});

                var simpleChangePie = echarts.init(document.getElementById('simpleChangePie'));
                simpleChangePie.setOption({{ simpleChangePie|safe }});

                var rangChangePie = echarts.init(document.getElementById('rangChangePie'));
                rangChangePie.setOption({{ rangChangePie|safe }});

                var simpleLine = echarts.init(document.getElementById('simpleLine'));
                simpleLine.setOption({{ simpleLine|safe }});

                var rangLine = echarts.init(document.getElementById('rangLine'));
                rangLine.setOption({{ rangLine|safe }});

                // 从后端获取的 game 列表数据
                var similarGames = {{ similarGames|safe }};

                // 初始化 DataTables
                $('#similarGames').bootstrapTable({
                    data: similarGames,
                    pagination: true,
                    pageSize: 10  // 设置每页显示的行数
                });
            }
        )
    </script>
{% endblock %}