{% extends 'base.html' %}

{% block title %}
首页
{% endblock %}

{% block body %}
<!--    <div id="bar" style="width:1000px; height:600px;"></div>-->
<div class="row row-deck row-cards">
    <div class="col-md-3 rounded"style="height:300px;">
        <div class="card text-center">
            <p>胜平负基础奖金</p>
            <div class="card-body" id="simplePie">
            </div>
        </div>
    </div>
    <div class="col-md-3 rounded" style="height:300px;">
        <div class="card text-center">
            <p>让胜平负基础奖金</p>
            <div class="card-body" id="rangPie">
            </div>
        </div>
    </div>
    <div class="col-md-3 rounded" style="height:300px;">
        <div class="card text-center">
            <p>胜平负盘口变化</p>
            <div class="card-body" id="simpleChangePie">
            </div>
        </div>
    </div>
    <div class="col-md-3 rounded" style="height:300px;">
        <div class="card text-center">
            <p>让胜平负盘口变化</p>
            <div class="card-body" id="rangChangePie">
            </div>
        </div>
    </div>
    <div class="col-md-2 bg-dark rounded" id="gameList" style="height:400px;">
        <div class="card text-center">
            <p>胜平负分析</p>
            <p>让球分析</p>
        </div>
    </div>
    <div class="col-md-5 rounded" style="height:400px;">
        <div class="card text-center">
            <div class="card-body" id="simpleLine">
            </div>
        </div>
    </div>
    <div class="col-md-5 rounded" style="height:400px;">
        <div class="card text-center">
            <div class="card-body" id="rangLine">
            </div>
        </div>
    </div>
</div>

    <script>
        $(
            function () {
// <!--                var histogram = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});-->
// <!--                $.ajax({-->
// <!--                    type: "GET",-->
// <!--                    url: "http://127.0.0.1:5000/barChart",-->
// <!--                    dataType: 'json',-->
// <!--                    success: function (result) {-->
// <!--                        histogram.setOption(result);-->
// <!--                    }-->
// <!--                });-->

                var simplePie = echarts.init(document.getElementById('simplePie'));
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/forecast/simplePie",
                    dataType: 'json',
                    success: function (result) {
                        simplePie.setOption(result);
                    }
                });

                var rangPie = echarts.init(document.getElementById('rangPie'));
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/forecast/rangPie",
                    dataType: 'json',
                    success: function (result) {
                        rangPie.setOption(result);
                    }
                });

                var simpleChangePie = echarts.init(document.getElementById('simpleChangePie'));
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/forecast/simpleChangePie",
                    dataType: 'json',
                    success: function (result) {
                        simpleChangePie.setOption(result);
                    }
                });

                var rangChangePie = echarts.init(document.getElementById('rangChangePie'));
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/forecast/rangChangePie",
                    dataType: 'json',
                    success: function (result) {
                        rangChangePie.setOption(result);
                    }
                });

                var simpleLine = echarts.init(document.getElementById('simpleLine'));
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/forecast/simpleLine",
                    dataType: 'json',
                    success: function (result) {
                        simpleLine.setOption(result);
                    }
                });

                var rangLine = echarts.init(document.getElementById('rangLine'));
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/forecast/rangLine",
                    dataType: 'json',
                    success: function (result) {
                        rangLine.setOption(result);
                    }
                });
            }
        )
    </script>
{% endblock %}