{% extends 'base.html' %}

{% block title %}
首页
{% endblock %}

{% block body %}
<!--    <div id="bar" style="width:1000px; height:600px;"></div>-->
<div class="row">
    <div class="col-md-3 bg-white rounded" id="simplePie" style="height:300px;"></div>
    <div class="col-md-3 bg-white rounded" id="rangPie" style="height:300px;"></div>
    <div class="col-md-3 bg-white rounded" id="1" style="height:300px;"></div>
</div>
    <div id="table-container">
        <table>
            <thead id="game-list">
                <tr>
                    <th>赛事编号</th>
                    <th>联赛</th>
                    <th>主队VS客队</th>
                    <th>比赛开始时间</th>
                    <th>固定奖金分析</th>
                </tr>
            </thead>
      </table>
    </div>

    <script>
        $(
            function () {
// <!--                var histogram = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});-->
// <!--                $.ajax({-->
// <!--                    type: "GET",-->
// <!--                    url: "http://127.0.0.1:5000/barChart",-->
// <!--                    dataType: 'json',-->
// <!--                    success: function (result) {-->
// <!--                        histogram.setOption(result);-->
// <!--                    }-->
// <!--                });-->

                var simplePie = echarts.init(document.getElementById('simplePie'));
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/simplePie",
                    dataType: 'json',
                    success: function (result) {
                        simplePie.setOption(result);
                    }
                });

                var rangPie = echarts.init(document.getElementById('rangPie'));
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/rangPie",
                    dataType: 'json',
                    success: function (result) {
                        rangPie.setOption(result);
                    }
                });

                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/get-game-list",
                    dataType: 'json',
                    success: function (result) {
                        for (var i = 0; i < result.length; i++){
                            var item = result[i];

                            // 创建一个包含<th>的<tr>元素
                            var trElement = $('<tr>');

                            // 添加<th>元素到<tr>
                            trElement.append('<th>' + item.matchNum + '</th>');
                            trElement.append('<th>' + item.league + '</th>');
                            trElement.append('<th>' + item.team + '</th>');
                            trElement.append('<th>' + item.time + '</th>');
                            trElement.append('<th>' + item.game_id + '</th>');

                            // 将<tr>元素添加到<thread>中
                            $('#game-list').append(trElement);

                        }
                    }
                });
            }
        )
    </script>
{% endblock %}