<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/echarts.js') }}"></script>
</head>
<body>
    <div id="bar" style="width:1000px; height:600px;"></div>
    <div id="table-container">
        <table id="dynamic-table">
            <thead>
                <tr>
                    <th>赛事编号</th>
                    <th>联赛</th>
                    <th>主队VS客队</th>
                    <th>比赛开始时间</th>
                    <th>固定奖金分析</th>
                </tr>
            </thead>
        <tbody>
          <!-- 数据将在此处动态添加 -->
        </tbody>
      </table>
    </div>

    <script>
        $(
            function () {
                var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/barChart",
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
            }
        )
    </script>
</body>
</html>